<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.dao.SuperlottoMapper">

	<insert id="addSuper"
		parameterType="com.music.entity.Superlotto">
		insert into superlotto (id,first,second_area,
		three_areas,four_areas,five_area,six_area,seven_area,
		periods)
		values
		(#{id,jdbcType=VARCHAR},
		#{first,jdbcType=INTEGER},
		#{secondArea,jdbcType=INTEGER},
		#{threeAreas,jdbcType=INTEGER},
		#{fourAreas,jdbcType=INTEGER},
		#{fiveArea,jdbcType=INTEGER},
		#{sixArea,jdbcType=INTEGER},
		#{sevenArea,jdbcType=INTEGER},
		#{periods,jdbcType=BIGINT}
		)
	</insert>
	<select id="selectSuper" resultType="int"> 
	select count(*) from  superlotto where periods = #{periods}
	</select>
	
</mapper>